# Ignore the files and directories created by python3 venv
bin/
lib/
lib64
share/
include/
instance/
pyvenv.cfg
../__pycache__/
__pycache__/
pip-selfcheck.json
app/__init__.pyc
app/views.pyc
config.pyc


