
<!doctype html>
<!-- See http://www.firepad.io/docs/ for detailed embedding docs. -->
<html>
<head>
  <meta charset="utf-8" />

  <!-- Firebase -->
  <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <!-- Firechat -->
    <link rel="stylesheet" href="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.css" />
    <script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>

  <!-- ACE and its JavaScript mode and theme files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/mode-javascript.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/theme-textmate.js"></script>

  <!-- Firepad -->
  <link rel="stylesheet" href="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.css" />
  <script src="https://cdn.firebase.com/libs/firepad/1.4.0/firepad.min.js"></script>
  <script src="../static/editor.js"></script>
  <script src="../static/firepad-userlist.js"></script>
  <link rel="stylesheet" href="../static/style.css" />
  <link rel="stylesheet" href="../static/firepad-userlist.css" />

  <style>
    html { height: 100%; }
    body { margin: 0; height: 100%; position: relative; }
  </style>
</head>

<body onload="init()">
  <div id="firepad-container"></div>
  <div id="firechat-wrapper"></div>
  <script src="../static/my_chat.js"></script>
</body> 
</html>
