<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>AndelaPair | SignIn</title>
    <script src="https://www.gstatic.com/firebasejs/3.6.9/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAcGzXdxjWp7AuQySWpqF0ZA7dewKheo7s",
        authDomain: "andelapair.firebaseapp.com",
        databaseURL: "https://andelapair.firebaseio.com",
        storageBucket: "andelapair.appspot.com",
        messagingSenderId: "513770463795"
      };
      firebase.initializeApp(config);
    </script>
    <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css" />
    <script type="text/javascript">
      // FirebaseUI config.
      var uiConfig = {
        signInSuccessUrl: 'http://138.68.149.84:8080/main',
        signInOptions: [
          // Leave the lines as is for the providers you want to offer your users.
          firebase.auth.GoogleAuthProvider.PROVIDER_ID
        ]
      };

      // Initialize the FirebaseUI Widget using Firebase.
      var ui = new firebaseui.auth.AuthUI(firebase.auth());
      // The start method will wait until the DOM is loaded.
      ui.start('#firebaseui-auth-container', uiConfig);
    </script>
  </head>
  <body>
    <div></div>
    <h1> Please Sing In/Signup </h1>
    <div id="firebaseui-auth-container"></div>
  </body>
</html>
